{% extends "base.html" %}
{% load static %}
{% block title %}-Home{% endblock %}

{% block content %}

<h1 class="text-primary"><img src="{% static 'img/library_image.png' %}" alt="" height='60px' width='60px' />  Chapter-Online Library <img src="{% static 'img/library_image.png' %}" alt="" height='60px' width='60px' /> <br /></h1>
<ul>
    <li><p>Welcome to <em><strong>Chapter-Online Library</strong></em>, a Django website developed for the purpose of having Library functionalities.</p></li>
    <li>  <p>You can sign in using <span class="text-info" >social networking</span> websites or <b>signup</b> using email.</p></li>
    <li>  <p>Download the books in <span class="text-info" ><b>PDF Format</b></span></p></li>
    <li>  <p>Reset Password with email verification</p></li>
</ul>



<h2 class="text-info">Dynamic content</h2>

  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_book_instances }}</li>
    <li><strong>Copies available:</strong> {{ available_books }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>Genre Containing 'cti' :</strong> {{ num_genre }}</li>
  </ul>

<div style="margin=top:20px;margin-left:20px">
	<span class="text-danger">
        You have visited this page {{ num_visits }}
            {% if num_visits <= 1 %} time{% else %} times{% endif %}.
    </span>
</div>
{% endblock %}
